/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2026, 5:44:05 p.m.
    Author     : patri
*/

.not-handled {
    -fx-text-fill:red;
    -fx-font-weight:bold;
}

.pressed {
    -fx-background-color: #888888;
}
