/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2026, 7:26:47 p.m.
    Author     : patri
*/

.root {
    -fx-background-color: #1E2A44;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: teal;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: gray
}
